.internal {
    color:blue;
    font-size: 3rem;
}
.border {
    color:rgb(228, 228, 235);
    background-color: rgb(35, 13, 236);
    margin-bottom: 10px;
    padding: 2px;
}
.box { 
    width: 1000px;
    border: solid 5px;
    padding: 10px;
    margin:10px;
    nav-down: auto;
}
